body {
    background-color: beige;
}
hr { 
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-color: grey;
    border-width: 5px; 
}
    h3{
        text-decoration-line: underline;
    }
    h3 {
        font-family: 'Lobster', Georgia, Times, serif;
        font-size: 25px;
        line-height: 5px;
    }
    h1 {
        font-family: 'Lobster', Georgia, Times, serif;
  font-size: 70px;
  line-height: 5px;
    }
    p {
        font-family: 'Cabin', Helvetica, Arial, sans-serif;
  font-size: 15px;
    }